/*
======================================
[ Import Font ]
======================================
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
a{text-decoration:none;}
a:hover{text-decoration:none;}
ul{list-style:none;padding:0;margin-bottom:0}
p{margin-bottom:0;}
body{font-family:'Nunito',sans-serif;background-color:#1E100F;}
img{max-width:100%;height:auto;}

/*Fix image trong khung*/
.dnfix__thumb{position:relative;height:auto;width:100%;overflow:hidden;display:block;padding-top:68.075%;}
.dnfix__thumb img{margin:0px auto;position:absolute;width:100%;height:100%;top:0;left:0;object-fit:cover}
.dnfix__thumb.-contain img{object-fit:contain;}
.videoWrapper{position:relative;padding-bottom:56.25%; /* 16:9 */height:0;}
.videoWrapper iframe,.videoWrapper object,.videoWrapper embed,.videoWrapper video{position:absolute;top:0;left:0;width:100%;height:auto;}

/**/
.sc__header{max-width:1045px;margin:0 auto 0;}
.sc__header--title{font-family:'Bungee',cursive;font-size:20px;line-height:28px;color:#FFDC4D;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;margin-bottom:15px;}
.sc__header--excerpt{font-weight:600;font-size:14px;line-height:28px;color:#FFFFFF;}

/**/
.btn--playnow{display:inline-block;width:218px;height:106px;margin:0 -25px;background:url(../img/home-discover--playnow-mb.png) no-repeat center;background-size:contain;z-index:10;transition:all .5s;}
.btn--playnow:hover{transform:translateY(-2px);}

/*
======================================
[ Header ]
======================================
*/
header.header{position:fixed;top:0;left:0;right:0;z-index:11;-webkit-animation:showLogo 1s ease-in-out forwards;-moz-animation:showLogo 1s ease-in-out forwards;animation:showLogo 1s ease-in-out forwards;}
@keyframes showLogo{
  0%{opacity:0;top:-10px;}
  33%{opacity:0;top:-10px;}
  100%{opacity:1;top:0;}
}
header.header .header__wrap{width:100%;display:flex;justify-content:center;background:url(../img/menu-bg-mb.png) no-repeat center;background-size:100% 100%;background-position:top;}
header.header .logo{margin-top:10px;margin-bottom:0;padding-bottom:12px;}
header.header img{max-height:45px;}
.header__menu__btn{position:absolute;top:15px;left:15px;}

/*
======================================
[ Main menu ]
======================================
*/
.nav__mobile{font-family:'Bungee',cursive;z-index:9;background:url(../img/menu-bg2-mb.png) no-repeat center;background-size:100% 100%;background-color:#603913;text-align:center;padding-top:30px;}
.nav__mobile:after{content:"";display:table;clear:both;}
.nav__mobile .sc__wrap{position:relative;z-index:9999;width:100%;}
.nav__mobile ul{list-style:none;padding:0;margin:0;}
.nav__mobile ul.el__menu{padding:0px 0;margin-bottom:20px;}
.nav__mobile ul.el__menu:after{content:"";display:table;clear:both;}
.nav__mobile ul.el__menu>li{position:relative;display:block;padding:0 20px;text-align:center;margin-bottom:50px;}
.nav__mobile ul.el__menu>li>a{display:inline-block;position:relative;color:#FFFAE9;line-height:19px;font-weight:400;font-size:16px;padding:10px 22px;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;border:1px solid transparent;}
.nav__mobile ul.el__menu>li:hover>a,.nav__mobile ul.el__menu>li.active>a{background-color:#723715;border-radius:8px;border:1px solid #FFCB36;box-shadow:inset 0px 0px 4px #ffc300;transition:all .5s;}
.nav__mobile ul.el__menu>li.active>a::before,.nav__mobile ul.el__menu>li.active>a::after,.nav__mobile ul.el__menu>li:hover>a::before,.nav__mobile ul.el__menu>li:hover>a::after{content:'';width:5px;height:5px;background-color:#FFCB36;position:absolute;top:calc(50% - 2.5px);left:-3px;border-radius:1px;transform:rotate(45deg);}
.nav__mobile ul.el__menu>li.active>a::after,.nav__mobile ul.el__menu>li:hover>a::after{content:'';left:auto;right:-3px;}

/*Menu custom*/
.menu__mobile--close{position:absolute;top:30px;left:30px;}
nav#menu__mobile{position:fixed;top:0;left:100%;width:100%;height:100%;opacity:0;-webkit-transition:all .25s;-moz-transition:all .25s;-ms-transition:all .25s;-o-transition:all .25s;transition:all .25s;z-index:9999;}
nav#menu__mobile.active{left:0;opacity:1;}
nav#menu__mobile .sub-menu{display:none}
.nav__mobile .logo{margin-bottom:60px;}
.nav__mobile .footer__socical{background:#6F3413;margin:0 35px;border-radius:24px;padding-top:15px;}

/**/
.containerz{overflow:hidden;pointer-events:none;position:absolute;top:0;left:0;height:100%;width:100%;filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429',EndColorStr='#257eb7');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429',EndColorStr='#257eb7')";}
#pixie{z-index:10;position:fixed;top:0;left:0;pointer-events:none;}

/*
======================================
[ Home Wellcome ]
======================================
*/
.home-wellcome{position:relative;background:url(../img/home-wellcome-bg-mb.jpg) no-repeat center;background-size:100% 100%;padding:63% 0;}
.home-wellcome:after{content:'';width:100%;height:10%;position:absolute;bottom:0;left:0;background:linear-gradient(180deg,rgba(46,24,20,0) 0%,#281514 100%);}
.home-wellcome--play{position:absolute;left:0;right:0;bottom:9%;width:180px;height:70px;background:url(../img/playnow.png) no-repeat center;background-size:contain;margin:auto;z-index:10;transition:all .5s;}
.home-wellcome--play:hover{transform:translateY(-2px);}
.home-wellcome--nextpage{position:absolute;left:0;right:0;bottom:5%;width:44px;height:34px;z-index:10;background:url(../img/next-page.png) no-repeat center;background-size:contain;margin:auto;-webkit-animation-name:Mousex;-webkit-animation-duration:1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-moz-animation-name:Mouse;-moz-animation-duration:1.5s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out;}
@-webkit-keyframes Mousex{
  from{-webkit-transform:translate(0,0px);}
  65%{-webkit-transform:translate(0,15px);}
  to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mouse{
  from{-moz-transform:translate(0,0px);}
  65%{-moz-transform:translate(0,15px);}
  to{-moz-transform:translate(0,-0px);}
}
.home-wellcome--icons{position:relative;z-index:-1;pointer-events:none;}
.home-wellcome--owl{position:absolute;width:8.5%;height:6%;bottom:30%;right:12%;background:url(../img/owl.png) no-repeat center;background-size:contain;}
.home-wellcome--peg{position:absolute;bottom:4.7%;left:4.3%;width:7%;height:12.3%;background:url(../img/peg.png) no-repeat center;background-size:contain;}
.home-wellcome--hero{position:absolute;top:54%;left:0;width:12%;height:17%;background:url(../img/hero.png) no-repeat center;background-size:contain;}
.home-wellcome--fire{position:absolute;bottom:-4%;left:1%;width:16.3%;height:25%;background:url(../img/fire.gif) no-repeat center;background-size:contain;}
.home-wellcome--fire.-top--left{width:12.5%;height:19.2%;bottom:10%;left:19%;}
.home-wellcome--fire.-top--right{left:auto;width:12.5%;height:19.2%;bottom:10%;right:19%;}
.home-wellcome--fire.-bottom--right{left:auto;right:1%;}
.home-wellcome--door{position:absolute;width:31%;height:53%;bottom:17%;left:0;right:0;background:url(../img/door.png) no-repeat center;background-size:contain;margin:auto;z-index:11;}

/*
======================================
[ Home Story ]
======================================
*/
.home-story{position:relative;overflow:hidden;margin-bottom:-7px;}
.home-story--paper{position:absolute;width:40%;height:34%;top:5.5%;right:15px;background:url(../img/paper.png) no-repeat center;background-size:contain;}
.home-story .videoWrapper{padding-bottom:155%;}

/*
======================================
[ Home Journey ]
======================================
*/
.home-journey{position:relative;background:url(../img/home-journey-bg-mb.jpg) no-repeat center;background-size:100% 100%;overflow:hidden;padding:39.6% 0;}
.home-journey--paper{position:absolute;top:11.5%;left:30%;width:50%;height:61%;background:url(../img/home-journey-paper-mb.png) no-repeat center;background-size:contain;}

/*
======================================
[ Home Journey ]
======================================
*/
.home-island{position:relative;background:url(../img/home-island-bg.png) no-repeat center;background-size:cover;padding:80px 0 40px;margin-top:-60px;}
.home-island .sc__header--excerpt{padding:0 10px;}
.home-island .sc__header{margin-bottom:15px;}
.home-island--treasure{position:absolute;top:-3%;left:-5.5%;width:33.5%;height:8%;background:url(../img/home-island-treasure.png) no-repeat center;background-size:contain;pointer-events:none;}
.home-island__box{position:relative;z-index:10;overflow:hidden;margin-left:var(--bs-gutter-x,-.75rem);margin-right:var(--bs-gutter-x,-.75rem);}
.home-island__slider{padding:30px 0 10px;margin:0px 20px;}
.home-island__slider::before{content:'';position:absolute;top:-6%;left:-14%;width:calc(100% + 28%);height:calc(100% + 28%);background:url(../img/home-island-map-mb.png) no-repeat center;background-size:contain;}
.home-island .el__item{text-align:center;}
.home-island .el__item--thumb img{display:block;margin:auto;}
.home-island .el__item--name{font-family:'Bungee',cursive;font-size:20px;line-height:42px;color:#FFDC4D;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;margin-bottom:0;}
.home-island .el__item--excerpt{margin-bottom:10px;}
.home-island .el__item--number{width:40px;height:40px;background:url(../img/home-island-number.png) no-repeat center;background-size:contain;margin:auto;line-height:40px;font-size:13px;color:#8B0059;}
.home-island .slick-dots{bottom:-20px;}
.home-island .slick-dots li button{width:20px;background-color:#8B706F;}

/**/
.btn__khampha{display:inline-block;width:220px;height:80px;margin:0 -25px;background:url(../img/btn-khampha-mb.png) no-repeat center;background-size:contain;z-index:10;transition:all .5s;}
.btn__khampha:hover{transform:translateY(-2px);}

/*
======================================
[ Home Discover ]
======================================
*/
.home-discover{position:relative;padding:100px 0 60px;background:radial-gradient(87.34% 87.34% at 48.41% -10.18%,rgba(75,51,37,0.4) 0%,rgba(0,0,0,0) 100%),#1E100F;}
.home-discover:before{content:'';position:absolute;top:0;right:0;width:224px;height:464px;background:url(../img/stone-mb.png) no-repeat center;background-size:contain;}
.home-discover--paper{width:100%;max-width:385px;margin:auto;padding:20px 30px 20px;background:url(../img/home-discover-paper.png) no-repeat center;background-size:100% 100%;text-align:center;z-index:10;}
.home-discover--title{font-family:'Bungee',cursive;font-size:20px;line-height:34px;color:#FFDC4D;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;margin-bottom:15px;}
.home-discover--excerpt{font-weight:bold;font-size:14px;line-height:28px;color:#1E100F;margin-bottom:15px;}
.home-discover--list{text-transform:uppercase;font-family:'Bungee',cursive;}
.home-discover--list li{margin-bottom:5px;}
.home-discover--list a{display:block;padding:10px 5px;font-size:12px;line-height:14px;color:#FFFFFF;background:url(../img/home-discover-btn.png) no-repeat center;background-size:100% 100%;transition:all .5s;}
.home-discover--list a:hover{transform:translateY(-2px);}
.home-discover__slider{max-width:580px;margin:0 auto 50px;}
.home-discover .el__item{display:flex;flex-direction:column;justify-content:end;min-height:263px;}
.home-discover .el__item--thumb{margin-bottom:10px;}
.home-discover .el__item--thumb .dnfix__thumb{padding-top:94%;}
.home-discover .el__item--title{font-family:Bungee;font-size:18px;line-height:42px;text-align:center;color:#FFDC4D;}
.home-discover .slick-slide{width:173px;}
.home-discover .el__item--thumb{transition:all .5s;}
.home-discover .slick-slide.slick-current .el__item--thumb,.home-discover .slick-slide.slick-active .el__item--thumb,.home-discover .slick-slide.slick-center .el__item--thumb{position:relative;top:-20px;transform:scale(1.25);}

/*
======================================
[ Home Character ]
======================================
*/
@-webkit-keyframes sprites{
  0%{background-position:0 0;}
  5.556%{background-position:0 -158px;}
  11.112%{background-position:0 -316px;}
  16.668%{background-position:0 -474px;}
  22.224%{background-position:0 -632px;}
  27.78%{background-position:0 -790px;}
  33.336%{background-position:0 -948px;}
  38.892%{background-position:0 -1106px;}
  44.448%{background-position:0 -1264px;}
  50.004%{background-position:0 -1422px;}
  55.56%{background-position:0 -1580px;}
  61.116%{background-position:0 -1738px;}
  66.672%{background-position:0 -1896px;}
  72.228%{background-position:0 -2054px;}
  77.784%{background-position:0 -2212px;}
  78.945%{background-position:0 -2370px;}
  83.34%{background-position:0 -2528px;}
  88.896%{background-position:0 -2686px;}
  94.452%{background-position:0 -2844px;}
  100%{background-position:0 0;}
}
@-moz-keyframes sprites{
  0%{background-position:0 0;}
  5.556%{background-position:0 -158px;}
  11.112%{background-position:0 -316px;}
  16.668%{background-position:0 -474px;}
  22.224%{background-position:0 -632px;}
  27.78%{background-position:0 -790px;}
  33.336%{background-position:0 -948px;}
  38.892%{background-position:0 -1106px;}
  44.448%{background-position:0 -1264px;}
  50.004%{background-position:0 -1422px;}
  55.56%{background-position:0 -1580px;}
  61.116%{background-position:0 -1738px;}
  66.672%{background-position:0 -1896px;}
  72.228%{background-position:0 -2054px;}
  77.784%{background-position:0 -2212px;}
  78.945%{background-position:0 -2370px;}
  83.34%{background-position:0 -2528px;}
  88.896%{background-position:0 -2686px;}
  94.452%{background-position:0 -2844px;}
  100%{background-position:0 0;}
}
@-ms-keyframes sprites{
  0%{background-position:0 0;}
  5.556%{background-position:0 -158px;}
  11.112%{background-position:0 -316px;}
  16.668%{background-position:0 -474px;}
  22.224%{background-position:0 -632px;}
  27.78%{background-position:0 -790px;}
  33.336%{background-position:0 -948px;}
  38.892%{background-position:0 -1106px;}
  44.448%{background-position:0 -1264px;}
  50.004%{background-position:0 -1422px;}
  55.56%{background-position:0 -1580px;}
  61.116%{background-position:0 -1738px;}
  66.672%{background-position:0 -1896px;}
  72.228%{background-position:0 -2054px;}
  77.784%{background-position:0 -2212px;}
  78.945%{background-position:0 -2370px;}
  83.34%{background-position:0 -2528px;}
  88.896%{background-position:0 -2686px;}
  94.452%{background-position:0 -2844px;}
  100%{background-position:0 0;}
}
@-o-keyframes sprites{
  0%{background-position:0 0;}
  5.556%{background-position:0 -158px;}
  11.112%{background-position:0 -316px;}
  16.668%{background-position:0 -474px;}
  22.224%{background-position:0 -632px;}
  27.78%{background-position:0 -790px;}
  33.336%{background-position:0 -948px;}
  38.892%{background-position:0 -1106px;}
  44.448%{background-position:0 -1264px;}
  50.004%{background-position:0 -1422px;}
  55.56%{background-position:0 -1580px;}
  61.116%{background-position:0 -1738px;}
  66.672%{background-position:0 -1896px;}
  72.228%{background-position:0 -2054px;}
  77.784%{background-position:0 -2212px;}
  78.945%{background-position:0 -2370px;}
  83.34%{background-position:0 -2528px;}
  88.896%{background-position:0 -2686px;}
  94.452%{background-position:0 -2844px;}
  100%{background-position:0 0;}
}
@keyframes sprites{
  0%{background-position:0 0;}
  5.556%{background-position:0 -158px;}
  11.112%{background-position:0 -316px;}
  16.668%{background-position:0 -474px;}
  22.224%{background-position:0 -632px;}
  27.78%{background-position:0 -790px;}
  33.336%{background-position:0 -948px;}
  38.892%{background-position:0 -1106px;}
  44.448%{background-position:0 -1264px;}
  50.004%{background-position:0 -1422px;}
  55.56%{background-position:0 -1580px;}
  61.116%{background-position:0 -1738px;}
  66.672%{background-position:0 -1896px;}
  72.228%{background-position:0 -2054px;}
  77.784%{background-position:0 -2212px;}
  78.945%{background-position:0 -2370px;}
  83.34%{background-position:0 -2528px;}
  88.896%{background-position:0 -2686px;}
  94.452%{background-position:0 -2844px;}
  100%{background-position:0 0;}
}
.home-character{position:relative;overflow:hidden;padding:60px 0 50px;background-image:url(../img/home-character-bg-mb.png);background-size:cover;background-position:center;background-repeat:no-repeat;}
.home-character .sc__header{margin-bottom:20px;}
.home-character__slider{z-index:10;}
.home-character .dnfix__thumb{padding-top:123%;}
.home-character .dnfix__thumb:before{content:'';position:absolute;top:0;width:100%;height:100%;background:url(../img/sprites.png);-webkit-animation:sprites steps(1,start) 1s infinite;-moz-animation:sprites steps(1,start) 1s infinite;-ms-animation:sprites steps(1,start) 1s infinite;animation:sprites steps(1,start) 1s infinite;z-index:1;opacity:0;}
.home-character .el__item{position:relative;/* padding:15px 0; */}
.home-character .el__item:hover .dnfix__thumb:before{opacity:1;}
.home-character .el__item--meta{position:absolute;left:0;right:0;bottom:0;text-align:center;}
.home-character .el__item--name{display:inline-block;min-width:210px;background:url(../img/home-character-name.png) no-repeat center;background-size:100% 100%;font-family:'Bungee',cursive;font-size:18px;line-height:22px;color:#FFDC4D;padding:35px 50px;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;}
.home-character .el__item:after{position:absolute;content:'';opacity:0;top:8%;left:10%;width:80%;z-index:-1;height:85%;border-radius:3%;box-shadow:0px 0px 15px 10px #ffd400;transition:all .5s;}
.home-character .el__item:hover:after{opacity:1;}

/*
======================================
[ Home Collection ]
======================================
*/
.home-collection{padding:50px 0 0;text-align:center;}
.home-collection__box{position:relative;z-index:10;}
.home-collection__slider{background:url(../img/home-collection-shadow.png) no-repeat center;background-size:100% 100%;max-width:414px;margin:0 auto;}
.home-collection .slick-prev{left:0;}
.home-collection .slick-next{right:0;}
.home-collection .dnfix__thumb{padding-top:100%;}
.home-collection .el__item--thumb{max-width:230px;margin:auto;}
.home-collection--title{font-family:'Bungee',cursive;font-size:20px;line-height:34px;color:#FFDC4D;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;margin-bottom:10px;}
.home-collection--excerpt{font-weight:bold;font-size:14px;line-height:28px;color:#fff;margin-bottom:30px;}
.home-collection--buy{position:relative;display:block;width:218px;height:106px;margin:auto;background:url(../img/home-collection--buy-mb.png) no-repeat center;background-size:100% 100%;transition:all .5s;}
.home-collection--buy:hover{transform:translateY(-2px);}
.home-collection .slick-slide{width:120px;}
.home-collection .el__item{padding:30px 15px;}
.home-collection__slider:before{content:'';position:absolute;top:0;left:0;width:25%;height:100%;margin-left:var(--bs-gutter-x,-.75rem);background:linear-gradient(to right,#1e100f 0%,rgba(196,196,196,0) 87.02%);z-index:1;pointer-events:none;}
.home-collection__slider:after{content:'';position:absolute;top:0;right:0;width:25%;margin-right:var(--bs-gutter-x,-.75rem);height:100%;background:linear-gradient(to left,#1e100f 0%,rgba(196,196,196,0) 87.02%);z-index:1;pointer-events:none;}
.home-collection .el__item--thumb{transition:all .5s;}
.home-collection .slick-slide.slick-current .el__item--thumb,.home-collection .slick-slide.slick-active .el__item--thumb,.home-collection .slick-slide.slick-center .el__item--thumb{transform:scale(1.5);}

/**/
.home-smithy{position:relative;padding:80px 0 0px;}
.home-smithy:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:url(../img/pages/home-smithy-bg.png) no-repeat;background-size:cover;opacity:0.4;pointer-events:none;z-index:-1;}
.home-smithy .el__thumb{
  text-align: center;
}
/*PAge about*/
.about{position:relative;}
.about::before{content:'';position:absolute;top:0;left:0;width:318px;height:100%;
max-width: 100%;
  background:url(../img/pages/about-bg-top.png) no-repeat;background-position:top left;background-size:contain;opacity:0.7;z-index:-1;}
.about-content{position:relative;padding:115px 0 140px;}
.about-content .sc__header{margin-bottom:20px;}
.about-content--nextpage{display:block;width:63px;height:48px;background:url(../img/next-page.png) no-repeat center;background-size:contain;margin:auto;-webkit-animation-name:Mousex;-webkit-animation-duration:1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-moz-animation-name:Mouse;-moz-animation-duration:1.5s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out;}
.about-ourteam .el__item{position:relative;margin-bottom:40px;}
.about-ourteam .el__item:before{position:absolute;content:'';opacity:0;top:4%;left:2%;width:96%;z-index:-1;height:94%;border-radius:3%;box-shadow:0px 0px 15px 10px #ffd400;transition:all .5s;}
.about-ourteam .row{--bs-gutter-x:3.8rem;}
.about-ourteam .el__item:hover:before{opacity:1;}
.about-ourteam .sc__header{margin-bottom:85px;}
/*
======================================
[ Home Footer ]
======================================
*/
footer.footer{position:relative;background:url(../img/footer-bg.png) no-repeat center;background-position:bottom;background-size:100% 100%;padding:90px 0 20px;z-index:10;}
.footer--logo{margin-bottom:10px;}
.footer__socical{font-family:'Poppins',sans-serif;font-weight:500;font-size:16px;line-height:32px;color:#F2F2F2;}
.footer__socical ul{display:flex;justify-content:center;}
.footer__socical--telegram{display:block;width:90px;height:90px;background:url(../img/telegram.png) no-repeat center;background-size:100% 100%;}
.footer__socical--twitter{display:block;width:90px;height:90px;background:url(../img/twitter.png) no-repeat center;background-size:100% 100%;}
.footer__socical ul a{transition:all .5s;}
.footer__socical ul a:hover{transform:translateY(-2px);}

/**/
.languages{position:relative;font-weight:normal;font-size:16px;text-align:left;letter-spacing:0.25px;display:inline-block;margin-top:10px;}
.languages img,.languages span{display:inline-block;vertical-align:middle;}
.languages img{border-radius:50%;width:20px;height:20px;}
.languages span{margin-left:7px;}
.languages .languages-item{position:relative;padding:6px 35px 6px 18px;left:0px;top:0px;border:1px solid #FFFFFF;box-sizing:border-box;border-radius:10px;color:#ffffff;cursor:pointer;transition:0.3s;}
.languages .languages-item:before{content:'';position:absolute;top:50%;right:10px;transform:translateY(-50%);background:url(../img/downward-arrow.png) no-repeat;width:18px;height:18px;background-size:contain;}
.languages .languages-item:hover{background-color:#1A1C25;}
.languages ul{position:absolute;bottom:105%;left:0;right:0;background-color:#ffffff;transform-origin:bottom;transform:rotateX(90deg);-webkit-transform:rotateX(90deg);opacity:0;display:block;-webkit-transition:all 0.5s;transition:all 0.5s;}
.languages ul.dropdown-languages{visibility:visible;transform:rotateY(0);-webkit-transform:rotateY(0);opacity:1;}
.languages ul li{display:block;padding:5px 10px;color:#1A1C25;cursor:pointer;font-size:13px;transition:0.3s;}
.languages ul li + li{border-top:1px solid #cccccc;}
.languages ul li:hover,.languages ul li.active{background-color:#1A1C25;color:#ffffff;}


/*Effect*/
@-webkit-keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInLeft{
  0%{opacity:0;-webkit-transform:translate3d(-20%,0,0);transform:translate3d(-20%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInLeft{-webkit-animation:fadeInLeft 1.5s ease-in-out;-moz-animation:fadeInLeft 1.5s ease-in-out;animation:fadeInLeft 1.5s ease-in-out;}
@-webkit-keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInRight{
  0%{opacity:0;-webkit-transform:translate3d(20%,0,0);transform:translate3d(20%,0,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInRight{-webkit-animation:fadeInRight 1.5s ease-in-out;-moz-animation:fadeInRight 1.5s ease-in-out;animation:fadeInRight 1.5s ease-in-out;}
@-webkit-keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
@keyframes fadeInUp{
  0%{opacity:0;-webkit-transform:translate3d(0,20%,0);transform:translate3d(0,20%,0)}
  to{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}
}
.fadeInUp{-webkit-animation:fadeInUp 1.5s ease-in-out;-moz-animation:fadeInUp 1.5s ease-in-out;animation:fadeInUp 1.5s ease-in-out;}

/*
======================================
[ Page Maps ]
======================================
*/
.maps-header{position:relative;margin-top:50px;padding:50px 0 100px;background-size:cover;background-position:center;background-repeat:no-repeat;transition:all .5s;}
.maps-header:after{content:"";position:absolute;width:100%;height:16%;left:0px;bottom:0;background:linear-gradient(180deg,rgba(46,24,20,0) 0%,#281514 100%);}
.maps-header .home-wellcome--nameplate{position:absolute;bottom:0;width:16.2%;height:42.7%;right:7.2%;background:url(../img/home-wellcome-table.png) no-repeat center;background-size:contain;z-index:10;}
.maps-header .el__tabs{flex-wrap:nowrap;border:0;justify-content:start;margin-bottom:180px;height:72px;overflow:auto;margin-left:var(--bs-gutter-x,-.75rem);margin-right:var(--bs-gutter-x,-.75rem);}
.maps-header .nav-tabs .nav-link{position:relative;border:0;font-family:Bungee;color:#E6DCD2;text-shadow:1px 1px 2px #4e4e4e,1px 1px 2px #4e4e4e,1px 1px 2px #4e4e4e,1px 1px 2px #4e4e4e,1px 1px 2px #4e4e4e;min-width:130px;padding:12px 8px;margin:0 6px;background-color:transparent;}
.maps-header .nav-tabs .nav-link span{position:relative;}
.maps-header .nav-tabs .nav-link::before{content:'';background-image:url(../img/pages/maps-nav-btn2.png);background-repeat:no-repeat;background-size:100% 100%;position:absolute;top:0;left:0;width:100%;height:100%;transition:all .3s;}
.maps-header .nav-tabs .nav-link.active{color:#fff;}
.maps-header .nav-tabs .nav-item.show .nav-link::before,.maps-header .nav-tabs .nav-link.active::before{background-image:url(../img/pages/maps-nav-btn-hover2.png);top:-16px;left:-20px;width:171px;height:88px;}
.maps-header .el__item--title{font-family:Bungee;font-size:24px;line-height:28px;color:#FFDC4D;text-shadow:1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A;margin-bottom:15px;}
.maps-header .el__item--sub{font-family:Bungee;font-size:16px;line-height:19px;color:#FFFAE9;text-shadow:1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A;}
.maps-content{padding:50px 0 80px;}
.maps-content .el__item--content{}
.maps-content .el__item--title{font-family:Bungee;font-size:20px;line-height:24px;color:#FFDC4D;text-shadow:1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A,1px 1px 2px #1D1A1A;margin-bottom:20px;}
.maps-content .el__item--excerpt{font-family:Nunito;font-weight:600;font-size:16px;line-height:32px;color:#FFFFFF;margin-bottom:40px;}
.maps-content .el__item--thumb{text-align:center;}

/*Modal pager*/
.modalpaper .modal-body{display:flex;align-items:center;padding:0;}
.modalpaper .modal-content{padding:130px 125px 140px;background:url(../img/popup-bg2.png) no-repeat center;background-size:100% 100%;border: 0;}
.modalpaper .btn-close{width:68px;height:68px;background:url(../img/popup_close.png) no-repeat center;background-size:contain;z-index:1;position:absolute;opacity:1;bottom:-30px;margin:auto;left:0;right:0;}
.modalpaper .popup__title{font-family:Bungee;font-size:32px;line-height:42px;text-align:center;color:#FFDC4D;text-shadow:-2px 0 0px #1d1a1a,0 2px 0px #1d1a1a,2px 0 0px #1d1a1a,0 -2px 0px #1d1a1a;margin-bottom:10px;}
.modalpaper .popup__excerpt{font-family:Nunito;font-weight:bold;font-size:18px;line-height:34px;text-align:center;color:#1E100F;margin-bottom:0;}
@media (max-width:1599px){
  .modalpaper .modal-content{padding:100px 50px 100px;}
  .modalpaper .popup__excerpt{font-size:14px;line-height:26px;margin-bottom:0;}
  .modalpaper .popup__title{font-size:18px;line-height:26px;}
  .modalpaper .btn-close{width:45px;height:45px;}
}
@media (max-width:767px){
  .modalpaper .modal-dialog{max-width:100%;}
  .modalpaper .popup__title{font-size:14px;margin-bottom:0;}
  .modalpaper .popup__excerpt{font-size:10px;line-height:24px;}
}
@media (min-width:768px){
  .modalpaper .modal-dialog{max-width:550px;}
}
@media (min-width:1600px){
  .modalpaper .modal-dialog{max-width:880px;}
}

/*
======================================
[ Responsive ]
======================================
*/
@media (min-width:576px){
  .maps-header .el__item--title{font-size:40px;line-height:56px;}
  .maps-header .el__item--sub{font-size:20px;line-height:26px;}
  .maps-content .el__item--title{font-size:24px;}
}